table, th, td {
    border:1px solid black;
    text-align: center;
    font-size: 16px;
}

th {
    height: 100px;
}

td {
    height: 80px;
}

.main_part_dodawanie {
    margin-top: 80px;
}

#notReturned {
    color: red;
}

.main_panel {
    margin-bottom: 60px;
}